@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.postInputBtn {
  @apply flex items-center space-x-2 w-1/2 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl my-1;
}

.navbarIcon {
  @apply flex items-center p-1 cursor-pointer;
}

.footerItem {
  @apply after:mx-[0.25rem] after:content-['\00B7'] cursor-pointer;
}

.notificationIcon {
  @apply flex-none w-8 h-8;
}

.formInput {
  @apply py-3 px-4 m-0 mt-4 mb-1 w-full 
  rounded-lg border focus:border-verde border-solid focus:outline-none shadow transition ease-in-out form-control;
}

.submitBtn {
  @apply py-3 px-7 w-full text-white hover:text-verde focus:text-verde bg-verde hover:bg-white focus:bg-white disabled:bg-gray-100 rounded-lg border border-verde focus:outline-verde shadow-md transition-all duration-100 ease-in-out disabled:cursor-not-allowed;
}

.addContentInput {
  @apply py-2 px-3 mb-1 w-full font-light tracking-wide leading-tight text-gray-700 rounded-md border focus:border-verde focus:outline-none appearance-none min-h-[2.8rem] shadow-sm;
}

.addContentDescInput {
  @apply py-2 px-3 pb-12 mb-1 w-full font-light tracking-wide leading-tight text-gray-700 rounded-md border focus:border-verde focus:outline-none appearance-none shadow-sm;
}

.squircleMask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiAgPHBhdGggZD0iTSAxMDAgMCBDIDIwIDAgMCAyMCAwIDEwMCBDIDAgMTgwIDIwIDIwMCAxMDAgMjAwIEMgMTgwIDIwMCAyMDAgMTgwIDIwMCAxMDAgQyAyMDAgMjAgMTgwIDAgMTAwIDAgWiIvPgoKPC9zdmc+');
}
